body {
    background-color: black;
    color: rgb(239, 128, 9);
    font-family: Arial, sans-serif;
    font-size: 18px;
        position:static;
        display: block;
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
         
}
.text {
    color:darkgrey;
    font-size: 16px;
    text-align:justify;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.about-content {
    padding-top: 50px;
}

.about-content h2 {
    font-size: 36px;
}

.about-content .image {
    margin-top: 30px;
}

.about-content img {
    display: block;
    margin: 0 auto;
}
/* about.css */
body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #333;
    color: white;
    padding: 10px;
}

#content {
    display: flex;
}

#sidenavbar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
}

#about {
    flex: 3;
    padding: 20px;
}
#image{
    width: 150%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 80px 100px 40px 80px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}