body {
  background-color:#f8f8ff; 
}

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: 0;
    object-fit: cover;
}

.card-text {
    color:black;
    text-align: center;
    margin-top: 5px;
}

.containerX{
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
@media (max-width: 767px) {
    .card-img-top {
        height: 200px;
    }
}