*{
    margin: 0;
    padding: 0;
}


body {
   
    overflow-x: hidden;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
   background-color: rgb(0, 0, 0, 0.8);
    
    padding-top: 1rem;
}

.sidebar .nav-link {
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0;
    transition: background-color 0.2s ease-in-out;
}

.sidebar .nav-link1 {
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0;
    transition: background-color 0.2s ease-in-out;
}

nav ul li{
    margin: 5px 0;

}

nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    display: block; 
    width: 100%; 
}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);

}

.sidebar .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}
