<div class="card" style="max-width:900px; margin:auto;">
    <div class="card-header">
        Add Category
    </div>
    <div class="card-body">
        <form method="post" action="./CategoryAdd">
            <div class="form-group mb-3">
                <label for="Category_name" class="mb-2">Category Name</label>
                <input type="text" class="form-control" id="Category_name" name="Category_name">
            </div>
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
    </div>
</div>
