<div class="card" style="max-width:900px; margin:auto;">
    <div class="card-header">
        Add Manufacturer
    </div>
    <div class="card-body">
        <form method="post" action="./ManufactureAdd">
            <div class="form-group mb-3">
                <label for="Manufacturer_name" class="mb-2">Manufacturer Name</label>
                <input type="text" class="form-control" id="Manufacturer_name" name="Manufacturer_name">
            </div>
            <button type="submit" class="btn btn-primary">Add Manufacturer</button>
        </form>
    </div>
</div>
