<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckoutServletUnreg</servlet-name>
        <servlet-class>adminpackage.CheckoutServletUnreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReceiptServlet</servlet-name>
        <servlet-class>adminpackage.SendReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutRegservlet</servlet-name>
        <servlet-class>adminpackage.CheckoutRegservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkDeliveredServlet</servlet-name>
        <servlet-class>adminpackage.MarkDeliveredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>adminpackage.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>adminpackage.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCart</servlet-name>
        <servlet-class>adminpackage.deleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItem</servlet-name>
        <servlet-class>adminpackage.DeleteCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCartUnReg</servlet-name>
        <servlet-class>adminpackage.DelCartUnReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCartItemUnreg</servlet-name>
        <servlet-class>adminpackage.DelCartItemUnreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryAdd</servlet-name>
        <servlet-class>adminpackage.CategoryAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDelete</servlet-name>
        <servlet-class>adminpackage.CategoryDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManufactureAdd</servlet-name>
        <servlet-class>adminpackage.ManufactureAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManufacturerDelete</servlet-name>
        <servlet-class>adminpackage.ManufacturerDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdd</servlet-name>
        <servlet-class>adminpackage.ProductAdd</servlet-class>
        <multipart-config>
            <!-- Maximum size of file -->
            <max-file-size>20848820</max-file-size>
            <!-- Maximum size of request -->
            <max-request-size>418018841</max-request-size>
            <!-- Size threshold after which files will be written to disk -->
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>adminpackage.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logins</servlet-name>
        <servlet-class>adminpackage.Logins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSpecsAdd</servlet-name>
        <servlet-class>adminpackage.ProductSpecsAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecsAdd</servlet-name>
        <servlet-class>adminpackage.SpecsAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecsDelete</servlet-name>
        <servlet-class>adminpackage.SpecsDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecsTypeAdd</servlet-name>
        <servlet-class>adminpackage.SpecsTypeAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecsTypeDelete</servlet-name>
        <servlet-class>adminpackage.SpecsTypeDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>adminpackage.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePrice</servlet-name>
        <servlet-class>adminpackage.updatePrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateQuantity</servlet-name>
        <servlet-class>adminpackage.updateQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDelete</servlet-name>
        <servlet-class>adminpackage.userDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logins</servlet-name>
        <url-pattern>/Logins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCartUnReg</servlet-name>
        <url-pattern>/DelCartUnReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServletUnreg</servlet-name>
        <url-pattern>/CheckoutServletUnreg</url-pattern>
    </servlet-mapping>
    <!-- Other servlet-mapping entries -->
    <servlet-mapping>
        <servlet-name>CheckoutRegservlet</servlet-name>
        <url-pattern>/CheckoutRegservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryAdd</servlet-name>
        <url-pattern>/CategoryAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryDelete</servlet-name>
        <url-pattern>/CategoryDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManufactureAdd</servlet-name>
        <url-pattern>/ManufactureAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManufacturerDelete</servlet-name>
        <url-pattern>/ManufacturerDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdd</servlet-name>
        <url-pattern>/ProductAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSpecsAdd</servlet-name>
        <url-pattern>/ProductSpecsAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecsAdd</servlet-name>
        <url-pattern>/SpecsAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecsDelete</servlet-name>
        <url-pattern>/SpecsDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecsTypeAdd</servlet-name>
        <url-pattern>/SpecsTypeAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecsTypeDelete</servlet-name>
        <url-pattern>/SpecsTypeDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePrice</servlet-name>
        <url-pattern>/updatePrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateQuantity</servlet-name>
        <url-pattern>/updateQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItem</servlet-name>
        <url-pattern>/DeleteCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCartUnReg</servlet-name>
        <url-pattern>/DelCartUnReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCartItemUnreg</servlet-name>
        <url-pattern>/DelCartItemUnreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkDeliveredServlet</servlet-name>
        <url-pattern>/MarkDeliveredServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDelete</servlet-name>
        <url-pattern>/userDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
